#App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto;
}

.search-container {
  display: flex;
  align-items: stretch;
  margin: 5px 5px;
}

.logo {
  flex: none;
  margin: 5px;
}

.search-box {
  flex: 1 1 auto;
  max-width: 400px;
  z-index: auto;
}

.search-btn {
  flex: none;
}

.search-status {
  flex: 1 1 auto;
  color: #757575;
}

.content {
  flex: 1 1 400px;
  display: flex;
  margin: 0;
  padding: 0;
}

.tabs-container {
  flex: 1 0 100px;
  display: flex;
  align-items: stretch;
  width: 100%;
  /*min-height: 400px;*/
  margin: 0 0 0 5px;
}

#map-container {
  flex: 1 0 100px;
  width: 100%;
  min-height: 400px;
}

.list-container,
.info-container {
  margin-right: 15px;
  margin-bottom: 15px;
}

.list-elem {
  cursor: pointer;
  margin: 0;
  padding: 10px;
  line-height: 1.25;
  border-bottom: 1px solid lightgray;
}

.list-elem:hover {
  background-color: #EEEEEE;
}

.info-item {
  margin: 10px;
  line-height: 1.25;
}

.info-item h2 {
  margin: 0;
}

.info-item .address {
  cursor: pointer;
}

.tabs-display-flex {
  display: flex;
  align-items: stretch;
}

.tabs-flex-column {
  flex-direction: column;
}

.tabs-flex-1 {
  flex: 1;
}

.tabs-flex-none {
  flex: none;
}

.tabs-selected-tab-panel {
  display: flex !important;
  align-items: stretch;
  flex: 1;
}
