.main-container {
  margin: 0 5vw;
  max-width: 400px;
}

.select-tags {
  padding: 10px 0;
}

.option-container {
  display: flex;
}

.option-icon-container {
  margin: 0 5px 0 0;
}

.option-icon {
  width: 24px;
  height: 24px;
}

.option-content {
  display: flex;
  flex-direction: column;
}

.option-title {
  font-weight: 600;
}

.option-description {}
